[submodule "cerke_online_api"]
	path = api2
	url = https://github.com/sozysozbot/cerke_online_api.git
[submodule "cerke_calculate_hands_core"]
	path = cerke_calculate_hands
	url = https://github.com/jurliyuuri/cerke_calculate_hands_core.git
