$hop1zuo1_height: 140px;
$stususn: 0.8093s;

img.water_entry {
  z-index: 500;
  position: absolute;
  top: 190px + $hop1zuo1_height;
  left: -500px;
  animation: water1 1 * $stususn ease;
}

@keyframes water1 {
  0% {
    left: 700px;
  }
  33% {
    left: 100px;
  }
  66% {
    left: 100px;
  }
  100% {
    left: -500px;
  }
}

#field {
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
}

#protective_cover_over_field {
  background-color: rgba(0, 0, 0, 0.5);
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
}

#score_display {
  position: absolute;
  top: 280px;
  left: 11px;
  height: 390px;
  width: 650px;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 2000;
}

#protective_cover_over_field_while_asyncawait {
  background-color: rgba(0, 0, 0, 0);
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

#protective_cover_over_field_while_waiting_for_opponent {
  background-color: rgba(0, 0, 0, 0);
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  cursor: not-allowed;
}

#larta_me {
  position: absolute;
left: 680px;
top: 700px;
}

#larta_opponent {
  position: absolute;
left: 680px;
top: 0px;
}

#protective_tam_cover_over_field {
  background-color: rgba(0, 82, 66, 0.5);
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
}

.nocover {
  display: none;
}

#hop1zuo1_of_downward {
  background-color: rgb(0, 255, 200);
  width: 631px;
  height: $hop1zuo1_height;
  position: relative;
}

#hop1zuo1_of_upward {
  background-color: rgb(0, 255, 200);
  width: 631px;
  height: $hop1zuo1_height;
  position: relative;
}

#board_containment {
  width: 631px;
  height: 631px;
  position: relative;
}
#board {
  position: absolute;
  top: 0px;
  left: 0px;
}

img.selection {
  position: absolute;
  animation: anime1 $stususn ease -2 * $stususn infinite alternate;
}

img.guide {
  position: absolute;
  animation: anime2 $stususn ease -2 * $stususn infinite alternate;
}

@keyframes anime1 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anime2 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

img.piece_image_on_board {
  position: absolute;
}

img.piece_image_on_hop1zuo1 {
  position: absolute;
}
