$hop1zuo1_height: 140px;
$stususn: 0.8093s;

img.step_tam {
  z-index: 500;
  position: absolute;
  top: 90px + $hop1zuo1_height;
  left: -500px;
  animation: steptam1 1 * $stususn ease;
}

@keyframes steptam1 {
  0% {
    left: 900px;
  }
  33% {
    left: 200px;
  }
  66% {
    left: 200px;
  }
  100% {
    left: -500px;
  }
}

img.water_entry {
  z-index: 500;
  position: absolute;
  top: 190px + $hop1zuo1_height;
  left: -500px;
  animation: water1 1 * $stususn ease;
}

@keyframes water1 {
  0% {
    left: 700px;
  }
  33% {
    left: 100px;
  }
  66% {
    left: 100px;
  }
  100% {
    left: -500px;
  }
}

#field {
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
}

#protective_cover_over_field {
  background-color: rgba(0, 0, 0, 0.5);
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
}

#final_score_display {
  position: absolute;
  top: 250px;
  left: 11px;
  height: 450px;
  width: 650px;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 2000;
}

#score_display {
  position: absolute;
  top: 250px;
  left: 11px;
  height: 450px;
  width: 650px;
  background-color: rgba(1, 1, 1, 0.7);
  z-index: 2000;
}

#protective_cover_over_field_while_asyncawait {
  background-color: rgba(0, 0, 0, 0);
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
}

#protective_cover_over_field_while_waiting_for_opponent {
  background-color: rgba(0, 0, 0, 0);
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  cursor: not-allowed;
}

#my_icon {
  position: absolute;
  left: 680px;
  top: 700px;
}

#larta_opponent {
  position: absolute;
  left: 680px;
  top: 0px;
}

#protective_tam_cover_over_field {
  background-color: rgba(0, 82, 66, 0.5);
  width: 631px;
  height: 631px + $hop1zuo1_height * 2;
  position: absolute;
  top: 20px;
  left: 20px;
}

.nocover {
  display: none;
}

#hop1zuo1_of_downward {
  background-color: rgb(0, 255, 200);
  width: 631px;
  height: $hop1zuo1_height;
  position: relative;
}

#hop1zuo1_of_upward {
  background-color: rgb(0, 255, 200);
  width: 631px;
  height: $hop1zuo1_height;
  position: relative;
}

#kait_kaik {
  z-index: 3000;
  position: absolute;
  left: 235px;
  top: 415px;
}

$kaitkaik_width: 200px;
$kaitkaik_ratio: 1146 / 2025;

#kait_kaik_button {
  background-color: #d0d0d0;
  position: absolute;
  border: 1px solid #aaaaaa;
  max-width: $kaitkaik_width;
  width: $kaitkaik_width;
  height: $kaitkaik_width * $kaitkaik_ratio;
}

$kaitkaik_hover_width: 220px;
#kait_kaik:hover {
  z-index: 3000;
  position: absolute;
  left: 235px - ($kaitkaik_hover_width - $kaitkaik_width) / 2;
  top: 415px - ($kaitkaik_hover_width - $kaitkaik_width) * $kaitkaik_ratio / 2;
}

#kait_kaik_button:hover {
  background-color: #e7e7e7;
  position: absolute;
  border: 1px solid #aaaaaa;
  max-width: $kaitkaik_hover_width;
  width: $kaitkaik_hover_width;
  height: auto;
}

#krut_cruop {
  z-index: 3000;
  position: absolute;
  left: 695px;
  top: 403px;
}

$krut_cruop_width: 44px;
$krut_cruop_ratio: 660 / 330;
#krut_cruop_button {
  position: absolute;
  max-width: $krut_cruop_width;
  width: $krut_cruop_width;
  height: $krut_cruop_width * $krut_cruop_ratio;
}

$krut_cruop_hover_width: 44px * 1.1;
#krut_cruop:hover {
  z-index: 3000;
  position: absolute;
  left: 695px - ($krut_cruop_hover_width - $krut_cruop_width) / 2;
  top: 403px - ($krut_cruop_hover_width - $krut_cruop_width) * $krut_cruop_ratio / 2;
}

#krut_cruop_button:hover {
  position: absolute;
  max-width: $krut_cruop_hover_width;
  width: $krut_cruop_hover_width;
  height: auto;
}

#lork_liar {
  z-index: 3000;
  position: absolute;
  left: 695px;
  top: 560px;
}

$lork_liar_width: 44px;
$lork_liar_ratio: 720 / 360;
#lork_liar_button {
  position: absolute;
  max-width: $lork_liar_width;
  width: $lork_liar_width;
  height: $lork_liar_width * $lork_liar_ratio;
}

$lork_liar_hover_width: 44px * 1.1;
#lork_liar:hover {
  z-index: 3000;
  position: absolute;
  left: 695px - ($lork_liar_hover_width - $lork_liar_width) / 2;
  top: 560px - ($lork_liar_hover_width - $lork_liar_width) * $lork_liar_ratio / 2;
}

#lork_liar_button:hover {
  position: absolute;
  max-width: $lork_liar_hover_width;
  width: $lork_liar_hover_width;
  height: auto;
}

#everything {
  position: absolute;
  left: 200px;
}

#denote_season {
  position: absolute;
  left: 3px;
}

#denote_score {
  position: absolute;
  left: 65px;
}

#scoreboard_containment {
  position: absolute;
  left: -185px;
  top: 19.5px;
}

#board_containment {
  width: 631px;
  height: 631px;
  position: relative;
}
#board {
  position: absolute;
  top: 0px;
  left: 0px;
}

#kiar_ark {
  position: absolute;
  left: 1000px;
  top: 15px;
  width: 425px;
  height: 910px;
  font-size: 120%;
}

.selection {
  position: absolute;
  animation: anime1 $stususn ease -2 * $stususn infinite alternate;
}

img.guide {
  position: absolute;
  animation: anime2 $stususn ease -2 * $stususn infinite alternate;
}

@keyframes anime1 {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes anime2 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.7;
  }
}

img.piece_image_on_board {
  position: absolute;
}

img.piece_image_on_hop1zuo1 {
  position: absolute;
}

#opponent_message {
  width: 256px;
  max-width: 256px;
  text-align: center;
  font-size: 20px;
}
