// original png info
$logo_aspect_ratio: 1488px / 1804px;
$cpu_or_random_aspect_ratio: 670px / 830px;

// magic numbers
$button_height_coeff: 0.24661;
$min-entirety-aspect-ratio: 29/41;

@media (min-aspect-ratio: 29/41) {
  $container-height: 100vh;
  $container-width: $container-height * $min-entirety-aspect-ratio;

  $logo_width: 0.44144 * $container-height;

  $button_height: $button_height_coeff * $container-height;
  $cancel_button_width: $button_height * $cpu_or_random_aspect_ratio;
  $random_left: -$cancel_button_width / 2 + $container-width / 2;
  $hover_ratio: 1.1;

  body {
    background-color: rgb(230, 230, 230);
    margin: 0;
  }

  #cancel_button {
    width: $cancel_button_width;
    height: $cancel_button_width;
    position: absolute;
    left: $random_left;
    top: 2/3 * $container-height;

    &:hover {
      width: $cancel_button_width * $hover_ratio;
      height: $cancel_button_width * $hover_ratio;
      position: absolute;
      left: $random_left - $cancel_button_width * (($hover_ratio - 1) / 2);
      top: 2/3 * $container-height - $cancel_button_width *
        (($hover_ratio - 1) / 2);
    }
  }

  #outer_container {
    width: $container-width;
    height: $container-height;
    margin: 0 auto;
  }

  #container {
    width: $container-width;
    height: $container-height;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

@media (max-aspect-ratio: 29/41) {
  $container-width: 100vw;
  $container-height: $container-width / $min-entirety-aspect-ratio;

  $logo_width: 0.44144 * $container-height;

  $button_height: $button_height_coeff * $container-height;
  $cancel_button_width: $button_height * $cpu_or_random_aspect_ratio;
  $random_left: -$cancel_button_width / 2 + $container-width / 2;
  $hover_ratio: 1.1;

  body {
    background-color: rgb(230, 230, 230);
    margin: 0;
  }

  #cancel_button {
    width: $cancel_button_width;
    height: $cancel_button_width;
    position: absolute;
    left: $random_left;
    top: 2/3 * $container-height;

    &:hover {
      width: $cancel_button_width * $hover_ratio;
      height: $cancel_button_width * $hover_ratio;
      position: absolute;
      left: $random_left - $cancel_button_width * (($hover_ratio - 1) / 2);
      top: 2/3 * $container-height - $cancel_button_width *
        (($hover_ratio - 1) / 2);
    }
  }

  #outer_container {
    width: $container-width;
    height: $container-height;
    margin: calc((100vh - 100vw / 29 * 41) / 2) 0;
  }

  #container {
    width: $container-width;
    height: $container-height;
    position: relative;
    top: 0px;
    left: 0px;
  }
}

/* https://www.desmos.com/calculator/juygahuge1 */
#two_circles {
  animation-name: rotation;
  animation-duration: 4.0465s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#red_circle {
  animation-name: red_circle;
  animation-duration: 4.0465s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#green_circle {
  animation-name: green_circle;
  animation-duration: 4.0465s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes green_circle {
  /*
  \frac{\sqrt{0.1+0.05\cos\left(2\pi x-0.7\sin0.6\right)}}{\sqrt{0.1+0.05\cos\left(-0.7\sin0.6\right)}}
  */
  0% {
    transform: translateX(-10px) scale(1);
  }
  10% {
    transform: translateX(-10px) scale(1.00852735447);
  }
  20% {
    transform: translateX(-10px) scale(0.952422012456);
  }
  30% {
    transform: translateX(-10px) scale(0.843779944419);
  }
  40% {
    transform: translateX(-10px) scale(0.711502753886);
  }
  50% {
    transform: translateX(-10px) scale(0.607045038338);
  }
  60% {
    transform: translateX(-10px) scale(0.592769983942);
  }
  70% {
    transform: translateX(-10px) scale(0.679261355268);
  }
  80% {
    transform: translateX(-10px) scale(0.810270994154);
  }
  90% {
    transform: translateX(-10px) scale(0.92858360409);
  }
  100% {
    transform: translateX(-10px) scale(1);
  }
}

@keyframes red_circle {
  /*
  \frac{\sqrt{0.1-0.05\cos\left(2\pi x-0.7\sin0.6\right)}}{\sqrt{0.1-0.05\cos\left(-0.7\sin0.6\right)}}
  */
  0% {
    transform: translateX(10px) scale(1);
  }
  10% {
    transform: translateX(10px) scale(0.976484357017);
  }
  20% {
    transform: translateX(10px) scale(1.11896368864);
  }
  30% {
    transform: translateX(10px) scale(1.33477904106);
  }
  40% {
    transform: translateX(10px) scale(1.52967827005);
  }
  50% {
    transform: translateX(10px) scale(1.64732422941);
  }
  60% {
    transform: translateX(10px) scale(1.66137154704);
  }
  70% {
    transform: translateX(10px) scale(1.56894785775);
  }
  80% {
    transform: translateX(10px) scale(1.38997914673);
  }
  90% {
    transform: translateX(10px) scale(1.17207572577);
  }
  100% {
    transform: translateX(10px) scale(1);
  }
}

@keyframes rotation {
  /* 2\pi x+0.7\sin\left(2\pi x+0.6\right)-0.7\sin0.6 */
  0% {
    transform: rotate(0rad);
  }
  10% {
    transform: rotate(0.892416620892rad);
  }
  20% {
    transform: rotate(1.53298478436rad);
  }
  30% {
    transform: rotate(1.91702554704rad);
  }
  40% {
    transform: rotate(2.13784471363rad);
  }
  50% {
    transform: rotate(2.35109319084rad);
  }
  60% {
    transform: rotate(2.71531363138rad);
  }
  70% {
    transform: rotate(3.33138252935rad);
  }
  80% {
    transform: rotate(4.2039788281rad);
  }
  90% {
    transform: rotate(5.23979672295rad);
  }
  100% {
    transform: rotate(6.28318530718rad);
  }
}
