name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - ".github/workflows/ci.yml"
      - "src/**"
      - "public/**"
      - "styles/**"
      - "package.json"
      - "package-lock.json"
      - "tsconfig.json"
      - "tslint.json"
      - "webpack.config.json"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - uses: reviewdog/action-setup@v1.3.0
        with:
          reviewdog_version: latest

      - name: prepare
        run: npm ci

      - name: lint
        uses: reviewdog/action-eslint@v1.33.2
        with:
          reporter: github-pr-review
          fail_on_error: true
          filter_mode: diff_context

      - name: type check
        run: tsc --pretty false --noEmit | reviewdog -f=tsc -reporter=github-pr-review -fail-on-error=true
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: build
        run: npm run build
